<div class="fondo animated slideInUp fast">
   <img src="../../../assets/img/ronda2.jpg" alt="" class="bgImg">

  </div>

<div class="row mt-4 animated slideInUp fast">
  <div class="col">
    <h1 class="text-center">
      About me
    </h1>
  </div>
</div>

<div class="row">
  <p>Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed impedit veniam fuga molestias iusto quam minima voluptate, id rerum blanditiis tenetur, saepe ab sit porro quas nemo adipisci. Vitae, quae!  ipsum dolor sit amet consectetur adipisicing elit. Recusandae quam distinctio autem libero iure architecto sed? Quas eaque incidunt sapiente aut, quam labore obcaecati assumenda at numquam iure libero nulla Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti vero neque inventore in doloremque incidunt, tempore deserunt. Qui molestiae commodi dolores hic consequuntur, dolor similique, officiis inventore voluptates, quaerat eveniet..</p>

</div>
